# === Ignore .git directory too ===
.git/*
.VIM_UNDO_FILES
undodir/

# === Compiled Source Code ===
*.com
*.class
*.dll
*.exe
*.o
*.so

#=== Logs and databases ===

*.log
*.sql
*.sqlite

# === Vim Specials ===
view
*.netrwhist
*.swp
*.~
plugins
vim/pack/*
plugged

#=== Mpd Special ===
log
state
pid
database

#=== Python ===
*.pyc
