
# === Ignore .git directory too ===
.git/*

# === Compiled Source Code ===
*.com
*.class
*.dll
*.exe
*.o
*.so

#=== Logs and databases ===

*.log
*.sql
*.sqlite

# === Vim Specials ===
view
*.netrwhist
*.swp
*.~
plugins
vim/pack/*
plugged

#=== Mpd Special ===
log
state
pid
database

#=== Python ===
*.pyc

