*{
	--tab-bg-color: #070107
	--tab-active-bg-color: rgba(64, 66, 64, 0.5);
	--tab-active-text-color: #a6ef62;
	--tab-line-color: white;
}

:-moz-any(.titlebar-placeholder, .titlebar-spacer)[type=pre-tabs]
{
	width: 0 !important;
}

.tab-line {
	display: none !important;
}

/*{{{ Changing the Close Button, and making it visible only on the active tab */

.tab-close-button {
  display: none !important;
}

.tabbrowser-tab[visuallyselected] .tab-close-button {
  display: inline-block !important;
  list-style-image: url("../assets/delete-icon.svg") !important;
  width: 24px;
}
/* }}} */

/*{{{ Styling Normal and Active Tab */

/* Normal Tab */
.tabbrowser-tab {
  min-height: 32px !important;
  overflow: visible !important;
  font-size: 0.92rem !important;

  border: 0 !important;
  background: var(--tab-bg-color) !important;
}

/* Currently Active Tab */
.tabbrowser-tab[visuallyselected] {
  font-size: 1rem !important;
  background: var(--tab-active-bg-color) !important;
  font-weight: 600 !important;
  color: var(--tab-active-text-color) !important;
}

/* After the Currently Active Tab */

.tabbrowser-tab[visuallyselected]:not([usercontextid]):after {
  content: "";
  position: absolute !important;
  top: 70% !important;
  right: 90% !important;
  height: 10px !important;
  width: 10px !important;

  border-radius: 50%;
  background-color: var(--tab-line-color) !important;
}

/* }}} */

/* {{{ Firefox Containers */

.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-bottom-line {
  background: transparent !important;
}

.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-bottom-line:after {
  content: "";
  position: absolute;
  background: var(--identity-tab-color) !important;
  top: calc(100% - 10px) !important;
  left: 15% !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50% !important;
}

/* }}} */

#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] > #identity-icon {
    list-style-image: url("../assets/search-icon.svg");
    /* fill-opacity: .4; */
  }
