
.tab-content[selected=true] {
    color: #ddff00 !important;
    background-color: #1d2228 !important;
    border-top: 2px solid #ddff00 !important;
}

.tab-content {
    color: #1cff45 !important;
    background-color: #1d2228 !important;
    font-family: "Cantarell" !important;
}
.tab-icon-image {
    position: absolute !important;
}

.tab-label {
    color: #1cff45 !important;
    font-weight: bold !important;
    font-family: "Cantarell" !important;
    font-size: 14px !important;
}

.tab-label[selected=true]{
    color: #ddff00 !important;
    /* background-color: #16441f !important; */
    font-weight: bold !important;
    font-family: "Cantarell" !important;
}

.tab-close-button {
    list-style-image: url("icons/delete.png") !important;
    cursor: pointer !important;
}

.tab-icon-sound {
    list-style-image: url('icons/audio.png') !important;
    width: 24px !important;
    height: 24px !important;
}

/* Stolen from FirefoxCSS Reddit: Replaces FavIcon with Close Button */

.tabbrowser-tab .tab-close-button {
 -moz-box-ordinal-group: 0 !important;
  margin: 2px 6px 0px 0px !important;
}

.tabbrowser-tab .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
  display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  display: -moz-box !important;
}

#urlbar-container:target {
    border: 1px solid red !important;
    background: red;
}

#nav-bar {
    background: #1d2228 !important;
}

#urlbar-input {
    color: #1cff45 !important;
    font-weight: bold !important;
}


